{{!-- Homepage template/ --}}

{{> navbar}}

<main>
  <div class="container-fluid heroImage">
    {{#if logged_in}}
    {{else}}
    <div class="row text-center introText">
      <div class="col-4-lg col-12-md col-12-sm col-12-xs">
        <a class="btn btn-light px-5 viewMyWorkBtn" href="/signup/freelancer">Sign Up as a Freelancer</a>
        <a class="btn btn-light px-5 viewMyWorkBtn" href="/signup/employer">Sign Up as an Employer</a>
      </div>
    </div>
    {{/if}}
  </div>

  <section class="section-1">
    <div class="container">
      <div class="row pt-5">
        {{#if hasJobs}}
        <h2 id="latestJobs">Latest Jobs</h2>
        {{else}}
        <h2>No current job postings.</h2>
        {{/if}}
      </div>

      <div>
        {{#if frontEndJobs}}
        <a href="#frontEnd"><button type="button" class="btn btn-dark">Front-End</button></a>
        {{/if}}
        {{#if backEndJobs}}
        <a href="#backEnd"><button type="button" class="btn btn-dark">Back-End</button></a>
        {{/if}}
        {{#if fullStackJobs}}
        <a href="#fullStack"><button type="button" class="btn btn-dark">Full-Stack</button></a>
        {{/if}}
      </div>

      <br>

  </section>

  <section class="container">

    {{#if frontEndJobs}}
    <section class="container">
      <a href="/jobs/FrontEnd"><h4 id="frontEnd">Front-End</h4></a>
       {{#each frontEndJobs as |job|}}
      <div class="card mx-5 my-3">
        <div class="card-body">
          <a href="/jobs/front-end/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
          <div>{{format_date job.date_created}}</div>
          <div>{{job.location}}</div>
          {{!-- edit --}}
          {{#if isEmployer}}
          <div><a href="/update/{{job.id}}">Update</a> </div>
           {{/if}}
           {{!-- /edit --}}
        </div>
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if backEndJobs}}
    <section class="container">
      <a href="/jobs/BackEnd"><h4 id="backEnd">Back-End</h4></a>
      {{#each backEndJobs as |job|}}
      <div class="card mx-5 my-3">
        <div class="card-body">
          <a href="/jobs/back-end/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
          <div>{{format_date job.date_created}}</div>
          <div>{{job.location}}</div>
        </div>
      </div>
      {{/each}}
    </section>
    {{/if}}

    {{#if fullStackJobs}}
    <section class="container">
       <a href="/jobs/FullStack"><h4 id="fullStack">Full-Stack</h4></a>
      {{#each fullStackJobs as |job|}}
       <div class="card mx-5 my-3">
        <div class="card-body">
          <a href="/jobs/full-stack/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
          <div>{{format_date job.date_created}}</div>
          <div>{{job.location}}</div>
        </div>
      </div>
      {{/each}}
    </section>
    {{/if}}

  </section>
</main>