{{> navbar}}

<section class="container">


    <section class="container mt-5">
      <div class="row mt-5">
            <h4 id="jobCategory" class="mt-5" >{{insert_space jobCategory}}</h4>
        {{#each jobs as |job|}}
        <div class="card mx-5 my-3">
          <div class="card-body">
            <a href="/jobs/{{capitalize_first job.category}}/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
            <div>{{format_date job.date_created}}</div>
            <div>{{job.location}}</div>
          </div>
        </div>
        {{/each}}
      </div>
    {{!-- <h4 id="jobCategory" class="mt-5">Front-End</h4> --}}
       
    </section>


   

  </section>