{{!-- The page that shows details about a specific job --}}

{{> navbar}}

<main>
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-lg-8 col-md-8 col-sm-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{name}}</h5>
                          <button type="button" class="btn btn-primary active btn-sm" data-bs-toggle="button" autocomplete="off">{{category}}</button>
                        <div class="card-body">
                            <h5 class="card-title">Description</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Qualifications</h5>
                            <p class="card-text">{{qualifications}}</p>
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                          <li class="list-group-item">An item</li>
                          <li class="list-group-item">A second item</li>
                          <li class="list-group-item">A third item</li>
                        </ul> -->
                        <div class="card-body">
                            <h5 class="card-title">Location</h5>
                            <p>{{location}}</p>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-body d-flex flex-row">
                            <a href="/" class="btn btn-primary btn-sm h-10 ms-auto mb-3">Back to all jobs</a>
                            <a href="/jobs/{{capitalize_first category}}" class="btn btn-primary btn-sm h-10 ms-auto mb-3">{{capitalize_first category}} Jobs</a>
                        </div>
                      </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
                <div class="card border-secondary mb-3  " style="max-width: 18rem;">
                    <div class="card-header">{{user.name}}</div>
                    <div class="card-body text-secondary">
                      <p class="card-title">{{user.location}}</p>
                      <div class="card-body">
                        <a href="{{user.website}}" target="_blank" class="card-link">{{user.website}}</a>
                      </div>
                      <div class="card-body">
                          {{!-- future dev, check later --}}
                        <a class="btn btn-primary btn-sm" href="{{website}}" role="button">Apply for this position</a>
                      </div>
                      <div class="card-body">
                        <a href="#" class="card-link">View all {{user.name}} jobs</a>
                      </div>
                      
                      
                      

                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>