{{!-- The page that shows details about a specific job --}}

{{> navbar}}

<main>
        <div class="container mt-5">
            <div class="row mt-5">
              <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
                <div class="card text-center shadow p-3 bg-body rounded">
                  <div class="card-header">
                      <h5><strong>{{user.name}}</strong>
                  </div>
                  <div class="card-body">
                    <p class="card-title p-2">Location: {{user.location}}</p>
                    <p>Website: <a href="http://{{user.website}}" target="blank" class="card-link py-2">{{user.website}}</a></p>
                             <a href="{{website}}" class="btn btn-primary btn-sm mb-1 py-2">Apply for this position</a>
                     <a href="/employer/jobs/{{user.id}}" class="btn btn-primary btn-sm mb-1 py-2">View all {{user.name}} jobs</a>
                    
                     
                   
                  </div>
                </div>
              </div>

                <div class="col-lg-8 col-md-8 col-sm-12 mt-5 mb-2">
                    <div class="card shadow p-3 mb-5 bg-body rounded">
                        <div class="card-body">
                          <h5 class="card-title"><strong>{{name}}</strong></h5>
                          <p><strong>Job Category</strong></p>
                          <button type="button" class="btn btn-dark active btn-sm" data-bs-toggle="button" autocomplete="off">{{category}}</button>

                          <hr>

                        <div class="card-body">
                            <h5 class="card-title my-3"><strong>Description</strong></h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title my-3"><strong>Qualifications</strong></h5>
                            <p class="card-text">{{qualifications}}</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title my-3 mx-auto"><strong>Location</strong></h5>
                            <p>{{location}}</p>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-body d-flex-col flex-row">
                            <a href="/" class="btn btn-primary btn-sm h-10 ms-auto mb-3">Back to all jobs</a>
                            <a href="/jobs/{{capitalize_first category}}" class="btn btn-primary btn-sm h-10 ms-auto mb-3">{{insert_space category}} Jobs</a>
                        </div>
                      </div>
                </div>
                
            </div>
           
        </div>
        </div>
    </main>