{{> navbar}}

<section class="container mt-5">

    {{#if results}}
    <section class="container mt-5">
       {{#each results as |job|}}
      
      <div class="card mx-5 my-2 shadow p-1 mb-3 bg-body rounded mt-5">
        <div class="card-body">
          <a href="/jobs/{{capitalize_first job.category}}/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
          <div>{{format_date job.date_created}}</div>
          <div>{{job.location}}</div>
          {{!-- edit --}}
          {{#if isEmployer}}
          <div><a href="/update/{{job.id}}">Update</a> </div>
           {{/if}}
           {{!-- /edit --}}
        </div>
      </div>
  
      {{/each}}
      <div class="d-grid gap-2 col-6 mx-auto">
              <a href="/" class="mx-auto"><button type="button" class="btn btn-outline-secondary btn-sm ms-auto">View All Jobs</button></a>
      </div>
    </section>
    {{/if}}

    {{#if backEndJobs}}
    <section class="container">
      {{#each backEndJobs as |job|}}
      <div class="card mx-5 my-2 shadow p-1 mb-3 bg-body rounded">
        <div class="card-body">
          <a href="/jobs/BackEnd/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
          <div>{{format_date job.date_created}}</div>
          <div>{{job.location}}</div>
        </div>
      </div>
      {{/each}}
      <div class="d-grid gap-2 col-6 mx-auto">
              <a href="/jobs/BackEnd" class="mx-auto"><button type="button" class="btn btn-outline-secondary btn-sm ms-auto">View all Back-End jobs</button></a>
      </div>
    </section>
    {{/if}}

    {{#if fullStackJobs}}
    <section class="container">
      {{#each fullStackJobs as |job|}}
       <div class="card mx-5 my-2 shadow p-1 mb-3 bg-body rounded">
        <div class="card-body">
          <a href="/jobs/FullStack/{{job.id}}"><h4 id="{{job.name}}">{{job.name}}</h4></a>
          <div>{{format_date job.date_created}}</div>
          <div>{{job.location}}</div>
        </div>
      </div>
      {{/each}}
      <div class="d-grid gap-2 col-6 mx-auto mb-5">
              <a href="/jobs/FullStack" class="mx-auto"><button type="button" class="btn btn-outline-secondary btn-sm ms-aut">View all Full-Stack jobs</button></a>
      </div>
    </section>
    {{/if}}

  </section>